{% extends "comp.common.tpl" %}

{% block includes %}
#include <{{classname}}.h>
// <<riaps:keep_header--

// --riaps:keep_header>>
{% endblock includes %}

{% block component %}

        // <<riaps:keep_construct--
        {{classname}}::{{classname}}(const py::object*  parent_actor     ,
                      const py::dict     actor_spec       ,
                      const py::dict     type_spec        ,
                      const std::string& name             ,
                      const std::string& type_name        ,
                      const py::dict     args             ,
                      const std::string& application_name ,
                      const std::string& actor_name       )
            : {{baseclassname}}(parent_actor, actor_spec, type_spec, name, type_name, args, application_name, actor_name) {

        }
        // --riaps:keep_construct>>

{% for port_type, value in element.ports.items() %}
{% if value %}
{% if port_type in macros.handler_ports %}
{% for port_name, port_params in value.items() %}
        void {{classname}}::{{ port_name|handlername }}({{port_params|handlerparams(port_type)}}riaps::ports::PortBase* port) {
            // <<riaps:keep_{{port_name|handlername|lower}}--

            // --riaps:keep_{{port_name|handlername|lower}}>>
        }

{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

        // <<riaps:keep_impl--

        // --riaps:keep_impl>>

        // <<riaps:keep_destruct--
        {{classname}}::~{{classname}}() {

        }
        // --riaps:keep_destruct>>

{% endblock component %}

{% block pybind %}
std::unique_ptr<{{classname_full}}>
create_component_py(const py::object *parent_actor,
                    const py::dict actor_spec,
                    const py::dict type_spec,
                    const std::string &name,
                    const std::string &type_name,
                    const py::dict args,
                    const std::string &application_name,
                    const std::string &actor_name) {
    auto ptr = new {{classname_full}}(parent_actor, actor_spec, type_spec, name, type_name, args,
                                                                     application_name,
                                                                     actor_name);
    return std::move(std::unique_ptr<{{classname_full}}>(ptr));
}

PYBIND11_MODULE(lib{{classname|lower}}, m) {
    py::class_<{{classname_full}}> testClass(m, "{{classname}}");
    testClass.def(py::init<const py::object*, const py::dict, const py::dict, const std::string&, const std::string&, const py::dict, const std::string&, const std::string&>());

    testClass.def("setup"                 , &{{classname_full}}::Setup);
    testClass.def("activate"              , &{{classname_full}}::Activate);
    testClass.def("terminate"             , &{{classname_full}}::Terminate);
    testClass.def("handlePortUpdate"      , &{{classname_full}}::HandlePortUpdate);
    testClass.def("handleCPULimit"        , &{{classname_full}}::HandleCPULimit);
    testClass.def("handleMemLimit"        , &{{classname_full}}::HandleMemLimit);
    testClass.def("handleSpcLimit"        , &{{classname_full}}::HandleSpcLimit);
    testClass.def("handleNetLimit"        , &{{classname_full}}::HandleNetLimit);
    testClass.def("handleNICStateChange"  , &{{classname_full}}::HandleNICStateChange);
    testClass.def("handlePeerStateChange" , &{{classname_full}}::HandlePeerStateChange);

    m.def("create_component_py", &create_component_py, "Instantiates the component from python configuration");
}
{% endblock pybind %}